# Machine-local configuration
/.envrc

# Python-generated cache
*.pyc
__pycache__/

# ESP-IDF generated/local state
/firmware/build/
/firmware/artifacts/
/firmware/sdkconfig
/firmware/managed_components/

# Host packaging outputs
/host/build/
/host/dist/
/host/src/*.egg-info/
